@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 15 15 15;
    --secondary: 23 23 23;
    --tertiary: 30 32 35;
    --text-color: 255 255 255;
    --bg-color: 255 255 255;
    --custom-cyan: 34 211 238;
    --custom-pink: 218 98 196;
    --gold: 212 175 55;
    --bg-color: 0 0 0;
  }
}

html {
  scroll-behavior: smooth;
}